@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

div {
    
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
}

#main_map {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 10%);
    min-width: 70%;
    max-width: 70%;
    height: auto;
}

.parent {
    position: relative;
    width: 100%;
    height: 100%;
}

.buildings {
    position: relative;         
    top: 0;
    left: 0;
    width: 15%;
    border: 1px solid black;
}

.FEU {
    position: relative;
    left: 310px;
}

.hospital {
    position: relative;
    top: 400px;
    left: 710px;
}

.lb_building {
    position: relative;
    top: 180px;
    left: 577px;
}


body {
    background-color: rgba(93,172,151,255);
    font-family: 'Nunito', sans-serif;;
}

h1 {
    text-align: center;
    color: red;
    font-size: 70px;
    margin:0;
    position: absolute;
    top:20px;
    left:10px;
}