body {
    background-color: rgba(93,172,151,255);
    font-family: 'Nunito', sans-serif;;
}

.pic {
    position: relative;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#main_map {
    position: relative;
    z-index: -100;
}


.logo {
    position: absolute;
    width: 50px;
}

.text {
    position: absolute;
    visibility: hidden;
    z-index: 100;
    width: 250px;
}

.feu_div {
    position: absolute;
    width: 190px;
    top: 350px;
    left: 340px;
}

.FEU {
    position: absolute;
    width: 190px;
}

.main_logo {
    top: -28px;
    left: 80px;
}

.main_text {
    top: -23px;
    left: -25px;
}

.beige_div {
    position: absolute;
    width: 105px;
    top: 495px;
    left: 495px;
}

.beige {
    position: absolute;
    width: 105px;
}

.mentor_1 {
    left: 28px;
    top: -20px;
}

.ria {
    top: -18px;
    left: -70px;
}

.lb_div {
    position: absolute;
    width: 160px;
    top: 200px;
    left: 658px;
}

.lb_building {
    position: absolute;
    width: 160px;
}

.break_3 {
    position: absolute;
    left: 65px;
    top: -10px;
}

.vrbreak_3 {
    left: -30px;
}

.apartment_div {
    position: absolute;
    width: 132px;
    top: 575px;
    left: 285px;
}

.apartment {
    position: absolute;
    width: 132px;
}

.mezz_3 {
    left: 43px;
    top: -25px;
}

.vrmezz_3 {
    left: -55px;
    top: -20px;
}

.hospital_div {
    position: absolute;
    width: 160px;
    top: 470px;
    left: 820px;
}

.hospital {
    position: absolute;
    width: 160px;
}

.mentor_3 {
    left: 60px;
    top: -20px;
}

.valencia {
    left: -40px;
    top: -15px;
}

.blue_div {
    position: absolute;
    width: 110px;
    top: 488px;
    left: 85px;
}

.blue_building {
    position: absolute;
    width: 110px;
}

.mezz_2 {
    left: 32px;
    top: -40px;
}

.vrmezz_2 {
    left: -75px;
    top: -35px;
}


.bakery_div {
    position: absolute;
    width: 120px;
    top: 480px;
    left: 220px;
}

.bakery {
    position: absolute;
    width: 120px;
}

.mezz_1 {
    position: absolute;
    left: 35px;
    top: -30px;
}

.vrmezz_1 {
    top: -30px;
    left: -65px;
}

.bank_div {
    position: absolute;
    width: 100px;
    top: 280px;
    left: 530px;
}

.bank {
    position: absolute;
    width: 100px;
}


.break_2 {
    position: absolute;
    top: -30px;
    left: 25px;
}

.vrbreak_2 {
    left: -75px;
    top: -30px;
}

.white_div {
    position: absolute;
    width: 110px;
    top: 566px;
    left: 610px;
}

.white {
    position: absolute;
    width: 110px;
}

.mentor_5 {
    left: 30px;
    top: -28px;
    z-index: 10;
}

.leo {
    left: -65px;
    top: -25px;
}

.triplets_div {
    position: absolute;
    width: 210px;
    top: 410px;
    left: 620px;
}

.triplets {
    position: absolute;
    width: 210px;
}

.mentor_2 {
    left: 80px;
    top: -15px;
}

.lee {
    left: -15px;
    top: -10px;
}

.small_triplets_div {
    position: absolute;
    width: 150px;
    top: 190px;
    left: 365px;
}
.small_triplets {
    position: absolute;
    width: 150px;
}

.break_1 {
    left: 47px;
    top: -20px;
}

.vrbreak_1 {
    left: -50px;
    top: -20px;
}

.corner_div {
    position: absolute;
    width: 95px;
    top: 380px;
    left: 1100px;
}

.corner {
    position: absolute;
    width: 95px;
}

.mpr_3 {
    left: 22px;
    top: -34px;
}

.vrmpr_3 {
    left: -80px;
    top: -30px;
}

.tallest_div {
    position: absolute;
    width: 95px;
    top: 280px;
    left: 990px;
}

.tallest {
    position: absolute;
    width: 95px;
}

.mpr_2 {
    position: absolute;
    left: 24px;
    top: -50px;
}

.vrmpr_2 {
    left: -80px;
    top: -45px;
}

.cafe_div {
    position: absolute;
    width: 95px;
    top: 342px;
    left: 872px;
}

.cafe {
    position: absolute;
    width: 95px;
}

.mpr_1 {
    position: absolute;
    top: -35px;
    left: 22px;
}

.vrmpr_1 {
    left: -80px;
    top: -30px;
}

.pharmacy_div {
    position: absolute;
    width: 120px;
    height: 90px;
    top: 595px;
    left: 700px;
}

.pharmacy{
    position: absolute;
    width: 120px;
    z-index: -1;
}

.mentor_4 {
    left: 35px;
    top: -35px;
}

.menguin {
    left: -65px;
    top: -30px;
}


















